body {
    background-image: url("gradient_bg.png");
    font-family: sans-serif;
    background-color:#292f33;
    margin-top: 75px;
}

.center {
     width: 400px;
	height: 200px;
    -moz-border-radius: 200px / 100px;
	-webkit-border-radius: 200px / 100px;
	border-radius: 200px / 100px; 
    text-align: center;
}

.text-big {
    font-size: 300%;
}
#bng{
    color:#00FF00;
}

.bold {
    font-weight: bold;
}


.title{
    font-size:500%;
    text-align:center;
    color:#0084b4;
}
