body{
    background:url("https://upload.wikimedia.org/wikipedia/commons/d/d2/Vidhana_Soudha_sunset.jpg");
}
.bng{
    color:red;
    font-family:serif;
}
h2{
    text-align:center;
    font-size:100%;
}