#imgs img 
{   width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    transition: 1s;
    visibility:hidden;
    
    /*1 img at the time*/
}
/*the container */
#Snav 
{
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
/* position of circles*/
#SnavUp 
{
    display:block;
    width:100%;
    height:20%;
}
#Scircles 
{
    display:block;
    width:5%;
    height:15%;
    margin-right:5%;
    margin-top:2%;
    float:right;/* right side of the webpage*/
   
}
#Scircles ul 
{
    margin:0;
    float:right;
    display:block;
    width:100%;
    height:100%;
}
#Scircles li
{
    list-style:none;
    display:block;
    background-color:rgba(0, 0, 0, 1);
    width:20%;
    height:70%;
    margin-left:5%;
    float:left;     /*on the same line*/
    visibility:hidden;
    /*makiing block to circles*/
    border-bottom-left-radius:25px;
    border-top-left-radius:25px;
    border-bottom-right-radius:25px;
    border-top-right-radius:25px;

}
#SnavMiddle 
{
    display:block;
    width:100%;
    height:15%;
    margin-top:10%;
    
}
/*left button*/
#Sleft 
{
    width:8%;
    height:100%;
    float:left;
    margin-left:3%;
    opacity:0.8;
     
}
/*button effect*/
#Sleft:hover 
{
    opacity:0.8;
}
#Sright 
{
    width:8%;
    height:100%;
    float:right;
    margin-right:3%;
    opacity:0.8;
    
}
#Sright:hover 
{
    opacity:0.8;
}

#SnavBottom 
{
    display:block;
    background-color:rgba(0, 0, 0, 0.4);
    width:100%;
    height:10%;
    position:absolute;
    bottom:0;
    left:0;
}

#SnavBottom p 
{
    font:normal 200% Arial;
    color:#fff;
    position:absolute;
    bottom:0;
    left:0;
    visibility: hidden;
    margin-left:41%;
}

#transbox{
    background-color:#D3D3D3 ;
    border: 8px solid grey;
    opacity: 0.6;
    width: 400px;
    height: 400px;
    box-shadow: 10px 10px 10px;
    position: absolute;
    z-index: 9999;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
}


h1,h2{
    color: red;
    font-family: sans-serif;
    text-align: center;
    font-weight: 300;
}

#transbox p{
    font-size: 25px;
    padding-top: 10px;
    font-weight: 200;
    text-align: center;
    font-family: cursive;
}

#transbox p span{
    color: orange;
    font-family: cursive;
    font-size: 25px;
}
